html {
    background-color: $main-background-color;
    font-size: $root-font-size;

    body {
        color: $main-text-color;
        font-size: $body-font-size;
    }
}

.sr-only {
    display: block;
    height: 0;
    overflow: hidden;
    text-indent: -999rem;
    width: 0;
}