// Raw colors
$black-russian: #1c1e26;
$waikawa-grey: #6c6f9380;
$patterns-blue: #d5d8da;
$light-grey: #d5d5d5;
$dark-pink: #e95378;
$light-sea-green: #21bfc2b3;
$mandys-pink: #fab38e;
$persian-pink: #f075b5;
$romantic: #fbc3a7;

// Color applications
$main-background-color: $black-russian;
$main-text-color: $light-grey;