$a: #ff428e;
$b: #a8ffef;
$c: #ff6ba6;
$d: #baffec;
$e: #f52277;

$ULTRA_BACKGROUND: #100f1a; // (16, 15, 26)
$DARK_BACKGROUND: #12111f; // (18, 17, 31)
$PRIMARY_BACKGROUND: #141322; // (20, 19, 34)
$LIGHT_BACKGROUND: #1c1a30; // (28, 26, 48)
$ANOTHER_BACKGROUND: #1a1b46;

$PRIMARY: #ff428e;
$SECONDARY: #a8ffef;
$PRIMARY_HOVER: #ff6ba6;
$SECONDARY_HOVER: #baffec;

$ULTRA: #f52277;

// --- Purples

$PURPLE_100: #070a91;
$PURPLE_200: #1D1E7D;
$PURPLE_300: #242560;
$PURPLE_400: #262b4b;

// Blues

$BLUE_50: #EAFEFA;
$BLUE_100: #d0fff4;
$BLUE_125: #c9fdf1;
$BLUE_XXX: #A8D2D4;
$BLUE_175: #90b0b3;
$BLUE_200: #7c9c9e;
$BLUE_250: #415e6c;

$MITO_PURPLE_HOVER: #222745;
$VSCODE_PURPLE: #602976;
$VSCODE_PURPLE_HOVER: #913eb4;
$RADVENDER: #864df8;

$CORAL: #fe6083;

$HUE_TEAL: #78efc5;
$HUE_PURPLE: #d043cf;

// --- Highlighting

$HIGHLIGHT_CURRENT_LINE: #d043cf;
$HIGHLIGHT_RANGE: #fd43cd;
$HIGHLIGHT_CURRENT_SELECTION: #874df8;
$HIGHLIGHT_CURRENT_SELECTION_MATCH_BORDER: #6e45c7;
$HIGHLIGHT_MATCH: #9736c0;
$HIGHLIGHT_ADDL_MATCH: #f179e1;
$HIGHLIGHT_READ_ACCESS: #ff5300;
$HIGHLIGHT_WRITE_ACCESS: #efe900;

// --- Git colors

$DIFF_ADDED: #43fdd5;
$DIFF_REMOVED: #fe6082;
$MERGE_CURRENT: #fc86fe;
$MERGE_INCOMING: #008fe9;
$MERGE_COMMON: #ffd000;

$GIT_ADDED: #a3ff57;
$GIT_MODIFIED: #ffb000;
$GIT_DELETED: #ff427b;
$GIT_UNTRACKED: #c8ff00;
$GIT_IGNORED: #415e6c;
$GIT_CONFLICTING: #ff428a;
$GIT_SUBMODULE: #cc6796;

// --- Status colors

$INFO: #93E0E3;
$WARNING: #ffd000;
$ERROR: #ff1767;

// --- Borders
$a100: #1A1B46;
$a200: #242560;
$a300: #1D1E7D;
$a400: #8C2C56;
$a500: #FC0065;


// --- TOKENS
$constant: #fa61b8;
$entity: #a6e2e0;
$keyword: #d5358f;
$markup: #a8c0c2;
$storage: #ff85a1;
$string: #a9fef7;
$support: #7cb3b6;
$variable: #c7e3ee;
$invalid: #ff427b;

$pink: #fda8bc;

$Blue100: #BAF7FC;
$Blue400: #75B7BB;
$Blue500: #45898C;