<header id="About" class="row">
    <div class="eight columns">&nbsp;</div>
    <aside class="four columns book">
        <p>I'm an experienced software engineer, architect, and engineering manager with a proven track record of delivering enterprise-scale web applications. I specialize in backend and API development, microservices architecture, and high scalability/high availability solutions. I take pride in my ability to distill technically complex solutions into actionable cost/benefit analyses, grooming backlogs toward the highest possible business value.</p>
        <p>I am passionate about building great products with seamless user experiences. I'm really looking forward to joining or building an amazing team that shares these values, and building the kinds of products that people will come to rely on and love.</p>
        <p>In my free time, I dive into cooking, food science, and music. Ask me about smoking meat, making cheese, the perfect soft-boiled egg, or that time I nursed a rescued kitten back to health.</p>
    </aside>
</header