<section id="Experience">
    <ol>
        <li>
            <h3>Hearsay Systems</h3>
            <h4>
                Senior Software Engineer
                <span>Nov 2019–Present</span>
            </h4>
            <p>The Hearsay Social team owns content publishing, enterprise compliance, campaigns, and social network profiles. I work closely with product to set engineering goals for the team as well as review specs, create strategies to clean-up/re-architect tech debt, and solidify best practices on an org-wide level.</p>
            <ul>
                <li>Implement core feature architecture and establish engineering conventions for new features</li>
                <li>Re-architect and implement problematic but essential products in order to reduce on-call issues and improve user experience</li>
                <li>Review new feature specs and create technical tasks for the engineering team</li>
                <li>Work closely with product and go-to-market teams to move customers off of legacy products, resulting in the reduction of engineering surface area</li>
                <li>Created a process for system-wide changes like large scale code removal or package upgrades involving QA and rollback scenarios</li>
                <li>Build tools and utilities to make complicated workflows more pain-free</li>
            </ul>
            <h5>Tech:</h5>
            <ul>
                <li>JavaScript (React, Redux, Jest, Puppeteer, Enzyme, Backbone)</li>
                <li>Python (Django, Jinja2)</li>
                <li>HTML</li>
                <li>CSS (SCSS)</li>
            </ul>
        </li>
    </ol>
</section>