<nav id="ExternalSiteNavigation" class="navigation--external">
    <ul>
        <li>
            <a href="http://github.com/mskalandunas/" target="_blank" rel="noopener noreferrer">
                <!--=include ./svg/github.svg -->
                <span class="sr-only">GitHub</span>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/mskalandunas/" target="_blank" rel="noopener noreferrer">
                <!--=include ./svg/instagram.svg -->
                <span class="sr-only">Instagram</span>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/mskalandunas/" target="_blank" rel="noopener noreferrer">
                <!--=include ./svg/linkedin.svg -->
                <span class="sr-only">LinkedIn</span>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/mskalandunas" target="_blank" rel="noopener noreferrer">
                <!--=include ./svg/twitter.svg -->
                <span class="sr-only">Twitter</span>
            </a>
        </li>
    </ul>
</nav>