<nav id="mainNavigation" class="main-navigation">
    <ul>
        <li>
            <a id="about" class="main-navigation__anchor">
                About
            </a>
        </li>
        <li>
            <a id="works" class="main-navigation__anchor">
                Works
            </a>
        </li>
        <li>
            <a id="services" class="main-navigation__anchor">
                Services
            </a>
        </li>
        <li>
            <a id="contact" class="main-navigation__anchor">
                Contact
            </a>
        </li>
    </ul>
</nav>