@mixin scrollbar {
  all: unset;
  background-color: $font-color;
  display: auto;
  width: 5px;
}

@mixin  scrollbar-thumb {
  background: inherit;
  border-radius: 1px;
  outline: 1px solid inherit;
}

@mixin scrollbar-trackpiece-top {
  background: inherit;
}