@import '../mixins/grid';

.about {
  &__info {
    max-width: 400px;
  }

  &__wrapper {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 780px;

    dl {
      dd {
        font-weight: $font-weight-bold;
        margin: $spacing-medium 0 0;
      }
    }

    h2 {
      line-height: 1.85rem;
    }

    small {
      display: block;
      font-weight: $font-weight-bold;
      margin-top: 15rem;
    }
  }
}