// Colors
$color-azure: #eafefa;
$color-lucky-point: #100f1a;
$color-san-juan: #415e6c;
$violet-red: #ff428e;

$background-color: $color-lucky-point;
$font-color: $color-azure;

$logo-color-primary: $color-azure;
$logo-color-secondary: $color-san-juan;

// Container
$container-max-width: 1200px;

// Font Family
$body-font-stack: 'Spartan', sans-serif;
$heading-font-stack: 'Spartan', sans-serif;

// Font Size
$base-font-size: 10px;
$body-font-size: 0.8em;