// Color
$background-color: #1c1a30;
$font-color: #A8D2D4;

// Font Family
$body-font-stack: 'Questrial', sans-serif;
$heading-font-stack: 'Questrial', sans-serif;

// Font Size
$base-font-size: 10px;
$body-font-size: 1em;