// Colors
$color-azure: #eafefa;
$color-hot-pink: #ff6ba6;
$color-lucky-point: #100f1a;
$color-san-juan: #415e6c;
$color-pale-turquoise: #a8ffef;

$accent-blue: $color-pale-turquoise;

$background-color: $color-lucky-point;
$font-color: $color-azure;

$logo-color-primary: $color-azure;
$logo-color-secondary: $color-san-juan;

// Container
$container-max-width: 1200px;

// Font Family
$body-font-stack: 'Spartan', sans-serif;
$heading-font-stack: 'Spartan', sans-serif;

// Font Size
$base-font-size: 10px;
$body-font-size: 0.8em;
$title-font-size: 15em;

// Font Weight
$font-weight-bold: 900;
$font-weight-normal: 400;
$font-weight-semibold: 500;

// Spacing
$spacing-medium: 1rem;
$spacing-gap: 5rem;

// Timing
$transition-time: 0.15s;